.profileCard {
    background: white;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 3px;
   /* justify-content:center;
   align-items:center; */
   max-width: 60rem;
   min-width: 8rem;
   display: block;
   margin:2rem auto;
   /* margin-top: auto;
   margin-bottom: auto; */
   padding:0.5rem 1rem;
   position: relative;
    
 }
 /* div{
     padding:2px;
 } */
 .highlight{
     border: 1px solid #ccc;
     display: inline-block;
     padding:4px 8px;
     border-radius:20px;
 }
 tr,td{
     padding:2px;
     margin:0px;
 }
.space{
    margin-top:12px;
    margin-bottom: 12px;
}
 @media (max-width:600px){
   .profileCard{
     margin:4rem 1rem;
     /* min-height:80vh */
   }
 }