.questionCard {
    background: white;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 3px;
   /* justify-content:center;
   align-items:center; */
   max-width: 80rem;
   min-width: 8rem;
   display: block;
   margin:2rem auto;
   /* margin-top: auto;
   margin-bottom: auto; */
   padding:0.8rem 0.5rem;
   position: relative;
    
 }
 p{
     margin:0;
 }

 @media (max-width:600px){
   .questionCard{
     margin:4rem 0.7rem;
     /* min-height:80vh */
   }
 }