.buttons{
    margin-left:2rem;
    display:flex ;
}
.buttons>button{
    margin:5px
}
@media (max-width:600px) {
    .buttons{
        flex-direction: column;
        margin-left:0.1rem;
        margin:0.1rem;
    }
    .buttons>*{
        width:100%;
        margin:5px
    }
}